# Module 1 Data Cleaning

## Assumptions:

* As production ramps up, the studio will be best served to focus on domestic distribution; international revenues will not be analyzed
* Movie trends change over time; we will exclude date for films released more than 5 years ago
*

## Data Needed:

*table of columns*

In [215]:
import pandas as pd
import datetime
import numpy as np

# Dataset: budgets (tn.movie_budgets.csv.gz)

## Cleaning

In [216]:
#import datasets
budgets = pd.read_csv('/Users/alphonsowoodbury/DS/code/Projects/DCDS-MOD1---MS-Movies/data/raw/tn.movie_budgets.csv.gz')

In [217]:
budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [218]:
budgets = budgets.drop(['id','worldwide_gross'],axis=1)
budgets

,release_date,movie,production_budget,domestic_gross
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382"
...,...,...,...,...
5777,"Dec 31, 2018",Red 11,"$7,000",$0
5778,"Apr 2, 1999",Following,"$6,000","$48,482"
5779,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338"
5780,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0
5781,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041"

In [219]:
budgets.applymap(lambda c: c.strip() if isinstance(c, str) else c)

,release_date,movie,production_budget,domestic_gross
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382"
...,...,...,...,...
5777,"Dec 31, 2018",Red 11,"$7,000",$0
5778,"Apr 2, 1999",Following,"$6,000","$48,482"
5779,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338"
5780,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0
5781,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041"

In [220]:
# budgets['movie'] = budgets['movie'].astype('str')
# budgets

### Convert budget columns to ints

In [221]:
#convert budget columns to ints
budgets[['production_budget', 'domestic_gross',]] = budgets[['production_budget', 'domestic_gross']].replace('[\$,]', '', regex=True).astype(int)
budgets

,release_date,movie,production_budget,domestic_gross
0,"Dec 18, 2009",Avatar,425000000,760507625
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875
2,"Jun 7, 2019",Dark Phoenix,350000000,42762350
3,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382
...,...,...,...,...
5777,"Dec 31, 2018",Red 11,7000,0
5778,"Apr 2, 1999",Following,6000,48482
5779,"Jul 13, 2005",Return to the Land of Wonders,5000,1338
5780,"Sep 29, 2015",A Plague So Pleasant,1400,0
5781,"Aug 5, 2005",My Date With Drew,1100,181041

### Calculate domestic profits

In [222]:
#calculate domestic profits

budgets['domestic_profit'] = budgets['domestic_gross'] - budgets['production_budget']
budgets['release_date'] = pd.to_datetime(budgets['release_date'], yearfirst=True)
budgets

,release_date,movie,production_budget,domestic_gross,domestic_profit
0,2009-12-18,Avatar,425000000,760507625,335507625
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,-169536125
2,2019-06-07,Dark Phoenix,350000000,42762350,-307237650
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,128405868
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,303181382
...,...,...,...,...,...
5777,2018-12-31,Red 11,7000,0,-7000
5778,1999-04-02,Following,6000,48482,42482
5779,2005-07-13,Return to the Land of Wonders,5000,1338,-3662
5780,2015-09-29,A Plague So Pleasant,1400,0,-1400
5781,2005-08-05,My Date With Drew,1100,181041,179941

### Include only recent films (since 2015)

In [223]:
#filter records to include only those in the last 5 years
cutoff = np.datetime64('2015-03-01')
budgets = budgets.loc[(budgets['release_date'] > cutoff)]
budgets

,release_date,movie,production_budget,domestic_gross,domestic_profit
2,2019-06-07,Dark Phoenix,350000000,42762350,-307237650
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,128405868
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,303181382
5,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,630662225
6,2018-04-27,Avengers: Infinity War,300000000,678815482,378815482
...,...,...,...,...,...
5751,2015-12-01,Dutch Kills,25000,0,-25000
5756,2015-04-21,The Front Man,20000,0,-20000
5771,2015-05-19,Family Motocross,10000,0,-10000
5777,2018-12-31,Red 11,7000,0,-7000
5780,2015-09-29,A Plague So Pleasant,1400,0,-1400

In [224]:
#create composite ID with yyyy of release and movie name
budgets['year'] = budgets['release_date'].apply(lambda y: y.year)
budgets['budgets_id'] =  budgets['movie'] + ' ' + budgets['year'].astype(str)
budgets

/Users/alphonsowoodbury/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/alphonsowoodbury/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,release_date,movie,production_budget,domestic_gross,domestic_profit,year,budgets_id
2,2019-06-07,Dark Phoenix,350000000,42762350,-307237650,2019,Dark Phoenix 2019
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,128405868,2015,Avengers: Age of Ultron 2015
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,303181382,2017,Star Wars Ep. VIII: The Last Jedi 2017
5,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,630662225,2015,Star Wars Ep. VII: The Force Awakens 2015
6,2018-04-27,Avengers: Infinity War,300000000,678815482,378815482,2018,Avengers: Infinity War 2018
...,...,...,...,...,...,...,...
5751,2015-12-01,Dutch Kills,25000,0,-25000,2015,Dutch Kills 2015
5756,2015-04-21,The Front Man,20000,0,-20000,2015,The Front Man 2015
5771,2015-05-19,Family Motocross,10000,0,-10000,2015,Family Motocross 2015
5777,2018-12-31,Red 11,7000,0,-7000,2018,Red 11 2018
5780,2015-09-29,A Plague So Pleasant,1400,0,-1400,2015,A Plague So Pleasant 2015

In [225]:
budgets = budgets.sort_values(by='domestic_gross', ascending=False)
budgets

,release_date,movie,production_budget,domestic_gross,domestic_profit,year,budgets_id
5,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,630662225,2015,Star Wars Ep. VII: The Force Awakens 2015
41,2018-02-16,Black Panther,200000000,700059566,500059566,2018,Black Panther 2018
6,2018-04-27,Avengers: Infinity War,300000000,678815482,378815482,2018,Avengers: Infinity War 2018
33,2015-06-12,Jurassic World,215000000,652270625,437270625,2015,Jurassic World 2015
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,303181382,2017,Star Wars Ep. VIII: The Last Jedi 2017
...,...,...,...,...,...,...,...
3454,2015-10-30,Dancin' It's On,12000000,0,-12000000,2015,Dancin' It's On 2015
4633,2015-09-01,Lords of London,3440000,0,-3440000,2015,Lords of London 2015
4640,2015-03-03,To Write Love On Her Arms,3400000,0,-3400000,2015,To Write Love On Her Arms 2015
1207,2019-11-22,The Rhythm Section,50000000,0,-50000000,2019,The Rhythm Section 2019
5780,2015-09-29,A Plague So Pleasant,1400,0,-1400,2015,A Plague So Pleasant 2015

###### rearrange columns

In [226]:
budgets = budgets[['budgets_id','movie','release_date','production_budget','domestic_gross','domestic_profit']]
budgets = budgets.rename(columns={"movie": "budgets_movie"})
budgets

,budgets_id,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit
5,Star Wars Ep. VII: The Force Awakens 2015,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225
41,Black Panther 2018,Black Panther,2018-02-16,200000000,700059566,500059566
6,Avengers: Infinity War 2018,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482
33,Jurassic World 2015,Jurassic World,2015-06-12,215000000,652270625,437270625
4,Star Wars Ep. VIII: The Last Jedi 2017,Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,303181382
...,...,...,...,...,...,...
3454,Dancin' It's On 2015,Dancin' It's On,2015-10-30,12000000,0,-12000000
4633,Lords of London 2015,Lords of London,2015-09-01,3440000,0,-3440000
4640,To Write Love On Her Arms 2015,To Write Love On Her Arms,2015-03-03,3400000,0,-3400000
1207,The Rhythm Section 2019,The Rhythm Section,2019-11-22,50000000,0,-50000000
5780,A Plague So Pleasant 2015,A Plague So Pleasant,2015-09-29,1400,0,-1400

In [227]:
budgets = budgets.reset_index(drop=True)
budgets

,budgets_id,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit
0,Star Wars Ep. VII: The Force Awakens 2015,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225
1,Black Panther 2018,Black Panther,2018-02-16,200000000,700059566,500059566
2,Avengers: Infinity War 2018,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482
3,Jurassic World 2015,Jurassic World,2015-06-12,215000000,652270625,437270625
4,Star Wars Ep. VIII: The Last Jedi 2017,Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,303181382
...,...,...,...,...,...,...
883,Dancin' It's On 2015,Dancin' It's On,2015-10-30,12000000,0,-12000000
884,Lords of London 2015,Lords of London,2015-09-01,3440000,0,-3440000
885,To Write Love On Her Arms 2015,To Write Love On Her Arms,2015-03-03,3400000,0,-3400000
886,The Rhythm Section 2019,The Rhythm Section,2019-11-22,50000000,0,-50000000
887,A Plague So Pleasant 2015,A Plague So Pleasant,2015-09-29,1400,0,-1400

# Dataset: titles (imdb.title.basics.csv.gz)

**NOTE:** when merging the budgets and titles tables, we identified that some movies in titles were formatted or encoded differently; we have used a programmatic approach to resolve this issue.

## Cleaning

In [228]:
#import dataset
titles = pd.read_csv('/Users/alphonsowoodbury/DS/code/Projects/DCDS-MOD1---MS-Movies/data/raw/imdb.title.basics.csv.gz')

In [229]:
titles

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [230]:
titles['primary_title'] = titles['primary_title'].astype('str')
titles

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [231]:
titles.applymap(lambda c: c.strip() if isinstance(c, str) else c)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [232]:
titles['titles_id'] = titles['primary_title'] + ' '  + titles['start_year'].astype(str)
titles

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,titles_id
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Sunghursh 2013
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",One Day Before the Rainy Season 2019
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,The Other Side of the Wind 2018
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",Sabse Bada Sukh 2018
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",The Wandering Soap Opera 2017
...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,Kuambil Lagi Hatiku 2019
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,Rodolpho Teóphilo - O Legado de um Pioneiro 2015
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,Dankyavar Danka 2013
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,6 Gunn 2017
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,Chico Albuquerque - Revelações 2013

###### rearrange columns

In [233]:
titles = titles[['titles_id','primary_title','genres','tconst']]
titles = titles.rename(columns={"primary_title": "titles_movie"})
titles

,titles_id,titles_movie,genres,tconst
0,Sunghursh 2013,Sunghursh,"Action,Crime,Drama",tt0063540
1,One Day Before the Rainy Season 2019,One Day Before the Rainy Season,"Biography,Drama",tt0066787
2,The Other Side of the Wind 2018,The Other Side of the Wind,Drama,tt0069049
3,Sabse Bada Sukh 2018,Sabse Bada Sukh,"Comedy,Drama",tt0069204
4,The Wandering Soap Opera 2017,The Wandering Soap Opera,"Comedy,Drama,Fantasy",tt0100275
...,...,...,...,...
146139,Kuambil Lagi Hatiku 2019,Kuambil Lagi Hatiku,Drama,tt9916538
146140,Rodolpho Teóphilo - O Legado de um Pioneiro 2015,Rodolpho Teóphilo - O Legado de um Pioneiro,Documentary,tt9916622
146141,Dankyavar Danka 2013,Dankyavar Danka,Comedy,tt9916706
146142,6 Gunn 2017,6 Gunn,NaN,tt9916730
146143,Chico Albuquerque - Revelações 2013,Chico Albuquerque - Revelações,Documentary,tt9916754

In [234]:
titles

,titles_id,titles_movie,genres,tconst
0,Sunghursh 2013,Sunghursh,"Action,Crime,Drama",tt0063540
1,One Day Before the Rainy Season 2019,One Day Before the Rainy Season,"Biography,Drama",tt0066787
2,The Other Side of the Wind 2018,The Other Side of the Wind,Drama,tt0069049
3,Sabse Bada Sukh 2018,Sabse Bada Sukh,"Comedy,Drama",tt0069204
4,The Wandering Soap Opera 2017,The Wandering Soap Opera,"Comedy,Drama,Fantasy",tt0100275
...,...,...,...,...
146139,Kuambil Lagi Hatiku 2019,Kuambil Lagi Hatiku,Drama,tt9916538
146140,Rodolpho Teóphilo - O Legado de um Pioneiro 2015,Rodolpho Teóphilo - O Legado de um Pioneiro,Documentary,tt9916622
146141,Dankyavar Danka 2013,Dankyavar Danka,Comedy,tt9916706
146142,6 Gunn 2017,6 Gunn,NaN,tt9916730
146143,Chico Albuquerque - Revelações 2013,Chico Albuquerque - Revelações,Documentary,tt9916754

# Join dataframes

### Observation:
We identified that records from titles had movie names that do not correspond to a record in budgets; we developed a programmatic method to resolve this:
* 
* 
*

In [235]:
name_match = pd.DataFrame()
name_match['budgets_movie'] = budgets['budgets_movie']
name_match['budgets_id'] = budgets['budgets_id']
name_match['match'] = budgets['budgets_movie'].isin(titles['titles_movie']) 
name_match = name_match[name_match['match'] ==False]
name_match
# name_match.loc[(name_match['match'] == False)].count

,budgets_movie,budgets_id,match
0,Star Wars Ep. VII: The Force Awakens,Star Wars Ep. VII: The Force Awakens 2015,False
4,Star Wars Ep. VIII: The Last Jedi,Star Wars Ep. VIII: The Last Jedi 2017,False
15,Guardians of the Galaxy Vol 2,Guardians of the Galaxy Vol 2 2017,False
31,Dr. Seussâ The Grinch,Dr. Seussâ The Grinch 2018,False
42,Mission: ImpossibleâFallout,Mission: ImpossibleâFallout 2018,False
...,...,...,...
877,Perfectos Desconocidos,Perfectos Desconocidos 2017,False
880,UtÃ¸ya 22. juli,UtÃ¸ya 22. juli 2017,False
881,Pourquoi j'ai pas mangÃ© mon pÃ¨re,Pourquoi j'ai pas mangÃ© mon pÃ¨re 2015,False
883,Dancin' It's On,Dancin' It's On 2015,False
885,To Write Love On Her Arms,To Write Love On Her Arms 2015,False

In [236]:
name_match.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 0 to 885
Data columns (total 3 columns):
budgets_movie    147 non-null object
budgets_id       147 non-null object
match            147 non-null bool
dtypes: bool(1), object(2)
memory usage: 3.6+ KB

In [237]:
budgets.set_index('budgets_id', inplace=True)
titles.set_index('titles_id', inplace=True)

# START JOIN

In [253]:
movies = budgets.join(titles, how='left')
movies = movies[movies['domestic_profit'] >= 0] #!!
movies = movies.sort_values(by='domestic_profit',ascending=False)
movies_t = movies[['budgets_movie','release_date','production_budget','domestic_gross','domestic_profit','genres','tconst']]
movies = movies[movies['domestic_profit'] >= 0] #!!
movies = movies.reset_index(drop=True)
movies

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,titles_movie,genres,tconst
0,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,NaN,NaN,NaN
1,Black Panther,2018-02-16,200000000,700059566,500059566,Black Panther,"Action,Adventure,Sci-Fi",tt1825683
2,Jurassic World,2015-06-12,215000000,652270625,437270625,Jurassic World,"Action,Adventure,Sci-Fi",tt0369610
3,Incredibles 2,2018-06-15,200000000,608581744,408581744,Incredibles 2,"Action,Adventure,Animation",tt3606756
4,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482,Avengers: Infinity War,"Action,Adventure,Sci-Fi",tt4154756
...,...,...,...,...,...,...,...,...
357,The Best of Enemies,2019-04-05,10000000,10205616,205616,The Best of Enemies,"Biography,Drama,History",tt4807408
358,Secret in Their Eyes,2015-11-20,20000000,20180155,180155,Secret in Their Eyes,"Crime,Drama,Mystery",tt1741273
359,Compadres,2016-04-22,3000000,3127773,127773,Compadres,"Action,Comedy,Crime",tt3367294
360,Krisha,2016-03-18,30000,144822,114822,NaN,NaN,NaN
361,Saul fia,2015-12-18,1700000,1777043,77043,NaN,NaN,NaN

In [254]:
movies_messy = movies[movies['titles_movie'].isnull()]

In [257]:
movies_messy.head(10)

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,titles_movie,genres,tconst
0,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,NaN,NaN,NaN
9,Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,303181382,NaN,NaN,NaN
18,Dr. Seussâ The Grinch,2018-11-09,75000000,270620950,195620950,NaN,NaN,NaN
21,Guardians of the Galaxy Vol 2,2017-05-05,200000000,389813101,189813101,NaN,NaN,NaN
25,A Star is Born,2018-10-05,36000000,215288866,179288866,NaN,NaN,NaN
41,Split,2017-01-20,5000000,138141585,133141585,NaN,NaN,NaN
50,John Wick: Chapter 3 â Parabellum,2019-05-17,40000000,141744320,101744320,NaN,NaN,NaN
51,Daddyâs Home,2015-12-25,50000000,150357137,100357137,NaN,NaN,NaN
52,Spider-Man: Into The Spider-Verse 3D,2018-12-14,90000000,190173195,100173195,NaN,NaN,NaN
65,Donât Breathe,2016-08-26,10000000,89217875,79217875,NaN,NaN,NaN
72,The Upside,2019-01-11,37500000,108235497,70735497,NaN,NaN,NaN
73,Oceanâs 8,2018-06-08,70000000,140218711,70218711,NaN,NaN,NaN
82,The Conjuring 2: The Enfield Poltergeist,2016-06-10,40000000,102470008,62470008,NaN,NaN,NaN
98,Tyler Perryâs Boo! A Madea Halloween,2016-10-21,20000000,73206343,53206343,NaN,NaN,NaN
99,John Wick: Chapter Two,2017-02-10,40000000,92029184,52029184,NaN,NaN,NaN
115,Spy!,2015-06-05,65000000,110825712,45825712,NaN,NaN,NaN
116,The Hitmanâs Bodyguard,2017-08-18,30000000,75468583,45468583,NaN,NaN,NaN
119,Mission: ImpossibleâRogue Nation,2015-07-31,150000000,195042377,45042377,NaN,NaN,NaN
124,Insidious Chapter 3,2015-06-05,10000000,52218558,42218558,NaN,NaN,NaN
126,Mission: ImpossibleâFallout,2018-07-27,178000000,220159104,42159104,NaN,NaN,NaN
133,A Dogâs Purpose,2017-01-27,25000000,64321890,39321890,NaN,NaN,NaN
156,Daddyâs Home 2,2017-11-10,70000000,104029443,34029443,NaN,NaN,NaN
165,Unfriended,2015-04-17,1000000,32789645,31789645,NaN,NaN,NaN
167,MA,2019-05-31,5000000,36049540,31049540,NaN,NaN,NaN
171,The House with a Clock in its Walls,2018-09-21,40000000,68549695,28549695,NaN,NaN,NaN
176,Tyler Perryâs Boo 2! A Madea Halloween,2017-10-20,20000000,47319572,27319572,NaN,NaN,NaN
183,Ralph Breaks The Internet,2018-11-21,175000000,201091711,26091711,NaN,NaN,NaN
206,Dragon Ball Super: Broly,2019-01-16,8500000,30376755,21876755,NaN,NaN,NaN
207,The Witch,2016-02-19,3500000,25138705,21638705,NaN,NaN,NaN
216,The Divergent Series: Insurgent,2015-03-20,110000000,130179072,20179072,NaN,NaN,NaN
218,Teen Titans Go! To The Movies,2018-07-27,10000000,29790236,19790236,NaN,NaN,NaN
229,Isnât it Romantic,2019-02-13,31000000,48791187,17791187,NaN,NaN,NaN
237,Godâs Not Dead 2,2016-04-01,5000000,20773069,15773069,NaN,NaN,NaN
247,"Hello, My Name is Doris",2016-03-11,1000000,14444999,13444999,NaN,NaN,NaN
250,Nobodyâs Fool,2018-11-02,19000000,31713110,12713110,NaN,NaN,NaN
251,It Follows,2015-03-13,2000000,14674077,12674077,NaN,NaN,NaN
254,Ex Machina,2015-04-10,13000000,25440971,12440971,NaN,NaN,NaN
258,Fighting With My Family,2019-02-14,11000000,22958583,11958583,NaN,NaN,NaN
262,Peteâs Dragon,2016-08-12,65000000,76233151,11233151,NaN,NaN,NaN
269,How to be Single,2016-02-12,37000000,46843513,9843513,NaN,NaN,NaN
270,BrightBurn,2019-05-24,7000000,16794432,9794432,NaN,NaN,NaN
282,Hillaryâs America: The Secret History of the...,2016-07-15,5000000,13099931,8099931,NaN,NaN,NaN
285,Motherâs Day,2016-04-29,25000000,32492859,7492859,NaN,NaN,NaN
286,Hardcore Henry,2016-04-08,2000000,9252038,7252038,NaN,NaN,NaN
289,The LEGO Movie 2: The Second Part,2019-02-08,99000000,105806508,6806508,NaN,NaN,NaN
295,The Green Inferno,2015-09-25,1000000,7192291,6192291,NaN,NaN,NaN
297,I Am Not Your Negro,2017-02-03,1000000,7123919,6123919,NaN,NaN,NaN
299,Eye in the Sky,2016-03-11,13000000,18704596,5704596,NaN,NaN,NaN
303,Lowriders,2017-05-12,916000,6179955,5263955,NaN,NaN,NaN
304,The Belko Experiment,2017-03-17,5000000,10166820,5166820,NaN,NaN,NaN

In [241]:
titles

,titles_movie,genres,tconst
titles_id,,,
Sunghursh 2013,Sunghursh,"Action,Crime,Drama",tt0063540
One Day Before the Rainy Season 2019,One Day Before the Rainy Season,"Biography,Drama",tt0066787
The Other Side of the Wind 2018,The Other Side of the Wind,Drama,tt0069049
Sabse Bada Sukh 2018,Sabse Bada Sukh,"Comedy,Drama",tt0069204
The Wandering Soap Opera 2017,The Wandering Soap Opera,"Comedy,Drama,Fantasy",tt0100275
...,...,...,...
Kuambil Lagi Hatiku 2019,Kuambil Lagi Hatiku,Drama,tt9916538
Rodolpho Teóphilo - O Legado de um Pioneiro 2015,Rodolpho Teóphilo - O Legado de um Pioneiro,Documentary,tt9916622
Dankyavar Danka 2013,Dankyavar Danka,Comedy,tt9916706
6 Gunn 2017,6 Gunn,NaN,tt9916730
Chico Albuquerque - Revelações 2013,Chico Albuquerque - Revelações,Documentary,tt9916754

#### Update the movies index column

#### Update the titles_movie column

In [256]:
movies

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,titles_movie,genres,tconst
0,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,NaN,NaN,NaN
1,Black Panther,2018-02-16,200000000,700059566,500059566,Black Panther,"Action,Adventure,Sci-Fi",tt1825683
2,Jurassic World,2015-06-12,215000000,652270625,437270625,Jurassic World,"Action,Adventure,Sci-Fi",tt0369610
3,Incredibles 2,2018-06-15,200000000,608581744,408581744,Incredibles 2,"Action,Adventure,Animation",tt3606756
4,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482,Avengers: Infinity War,"Action,Adventure,Sci-Fi",tt4154756
...,...,...,...,...,...,...,...,...
357,The Best of Enemies,2019-04-05,10000000,10205616,205616,The Best of Enemies,"Biography,Drama,History",tt4807408
358,Secret in Their Eyes,2015-11-20,20000000,20180155,180155,Secret in Their Eyes,"Crime,Drama,Mystery",tt1741273
359,Compadres,2016-04-22,3000000,3127773,127773,Compadres,"Action,Comedy,Crime",tt3367294
360,Krisha,2016-03-18,30000,144822,114822,NaN,NaN,NaN
361,Saul fia,2015-12-18,1700000,1777043,77043,NaN,NaN,NaN

In [258]:
movies_messy.head(10)

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,titles_movie,genres,tconst
0,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,NaN,NaN,NaN
9,Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,303181382,NaN,NaN,NaN
18,Dr. Seussâ The Grinch,2018-11-09,75000000,270620950,195620950,NaN,NaN,NaN
21,Guardians of the Galaxy Vol 2,2017-05-05,200000000,389813101,189813101,NaN,NaN,NaN
25,A Star is Born,2018-10-05,36000000,215288866,179288866,NaN,NaN,NaN
41,Split,2017-01-20,5000000,138141585,133141585,NaN,NaN,NaN
50,John Wick: Chapter 3 â Parabellum,2019-05-17,40000000,141744320,101744320,NaN,NaN,NaN
51,Daddyâs Home,2015-12-25,50000000,150357137,100357137,NaN,NaN,NaN
52,Spider-Man: Into The Spider-Verse 3D,2018-12-14,90000000,190173195,100173195,NaN,NaN,NaN
65,Donât Breathe,2016-08-26,10000000,89217875,79217875,NaN,NaN,NaN

#### Update the genre and tconst columns

In [260]:
movies.at[0, 'genres'] = 'Action,Adventure,Fantasy'
movies.at[0, 'tconst'] = 'tt2527338'

In [261]:
movies

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,titles_movie,genres,tconst
0,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,NaN,"Action,Adventure,Fantasy",tt2527338
1,Black Panther,2018-02-16,200000000,700059566,500059566,Black Panther,"Action,Adventure,Sci-Fi",tt1825683
2,Jurassic World,2015-06-12,215000000,652270625,437270625,Jurassic World,"Action,Adventure,Sci-Fi",tt0369610
3,Incredibles 2,2018-06-15,200000000,608581744,408581744,Incredibles 2,"Action,Adventure,Animation",tt3606756
4,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482,Avengers: Infinity War,"Action,Adventure,Sci-Fi",tt4154756
...,...,...,...,...,...,...,...,...
357,The Best of Enemies,2019-04-05,10000000,10205616,205616,The Best of Enemies,"Biography,Drama,History",tt4807408
358,Secret in Their Eyes,2015-11-20,20000000,20180155,180155,Secret in Their Eyes,"Crime,Drama,Mystery",tt1741273
359,Compadres,2016-04-22,3000000,3127773,127773,Compadres,"Action,Comedy,Crime",tt3367294
360,Krisha,2016-03-18,30000,144822,114822,NaN,NaN,NaN
361,Saul fia,2015-12-18,1700000,1777043,77043,NaN,NaN,NaN

In [251]:
#movies.loc[['Star Wars Ep. VII: The Force Awakens 2015'],['genres']] = 'Action,Adventure,Fantasy'
#movies.loc[['Star Wars Ep. VII: The Force Awakens 2015'],['tconst']] = 'tt2527338'
df.at[0, 'genres'] = 10
df.at[0, 'tconst'] = 10


movies.loc[['Star Wars Ep. VIII: The Last Jedi 2017'],['genres']] = 'Action,Adventure,Fantasy'
movies.loc[['Star Wars Ep. VIII: The Last Jedi 2017'],['tconst']] = 'tt2527336'
df.at[9, 'genres'] = 10
df.at[9, 'tconst'] = 10

movies.loc[['Dr. Seussâ The Grinch 2018'],['genres']] = 'Animation,Comedy,Family'
movies.loc[['Dr. Seussâ The Grinch 2018'],['tconst']] = 'tt2709692'
df.at[18, 'genres'] = 10
df.at[18, 'tconst'] = 10

movies.loc[['Guardians of the Galaxy Vol 2 2017'],['genres']] = 'Action,Adventure,Comedy'
movies.loc[['Guardians of the Galaxy Vol 2 2017'],['tconst']] = 'tt3896198'
df.at[21, 'genres'] = 10
df.at[21, 'tconst'] = 10

movies.loc[['A Star is Born 2018'],['genres']] = 'Drama,Music,Romance'
movies.loc[['A Star is Born 2018'],['tconst']] = 'tt1517451'
df.at[25, 'genres'] = 10
df.at[25, 'tconst'] = 10

#movies.loc[['Split 2017'],['genres']] = 'Split 2017	' #no entry in titles, drop?
#movies.loc[['Split 2017'],['tconst']] = 'Split 2017	'
df.at[41, 'genres'] = 10
df.at[41, 'tconst'] = 10

#movies.loc[['John Wick: Chapter 3 â Parabellum'],['genres']] = 'Action,Crime,Thriller'
#movies.loc[['John Wick: Chapter 3 â Parabellum'],['tconst']] = 'tt6146586'
df.at[50, 'genres'] = 10
df.at[50, 'tconst'] = 10

#movies.loc[["'Daddyâs Home 2015'"],['genres']] = 'Comedy'
#movies.loc[["'Daddyâs Home 2015'"],['tconst']] = 'tt1528854'

# movies.loc[['Spider-Man: Into The Spider-Verse 3D 2018	'],['genres']] = 'Action,Adventure,Animation'
# movies.loc[['Spider-Man: Into The Spider-Verse 3D 2018	'],['tconst']] = 'tt4633694'

KeyError: "None of [Index(['Star Wars Ep. VII: The Force Awakens 2015'], dtype='object')] are in the [index]"

In [244]:
movies.head(50)

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,titles_movie,genres,tconst
Star Wars Ep. VII: The Force Awakens 2015,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,NaN,"Action,Adventure,Fantasy",tt2527338
Black Panther 2018,Black Panther,2018-02-16,200000000,700059566,500059566,Black Panther,"Action,Adventure,Sci-Fi",tt1825683
Jurassic World 2015,Jurassic World,2015-06-12,215000000,652270625,437270625,Jurassic World,"Action,Adventure,Sci-Fi",tt0369610
Incredibles 2 2018,Incredibles 2,2018-06-15,200000000,608581744,408581744,Incredibles 2,"Action,Adventure,Animation",tt3606756
Avengers: Infinity War 2018,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482,Avengers: Infinity War,"Action,Adventure,Sci-Fi",tt4154756
Beauty and the Beast 2017,Beauty and the Beast,2017-03-17,160000000,504014165,344014165,Beauty and the Beast,"Family,Fantasy,Musical",tt2771200
Rogue One: A Star Wars Story 2016,Rogue One: A Star Wars Story,2016-12-16,200000000,532177324,332177324,Rogue One: A Star Wars Story,"Action,Adventure,Sci-Fi",tt3748528
Jumanji: Welcome to the Jungle 2017,Jumanji: Welcome to the Jungle,2017-12-20,90000000,404508916,314508916,Jumanji: Welcome to the Jungle,"Action,Adventure,Comedy",tt2283362
Deadpool 2016,Deadpool,2016-02-12,58000000,363070709,305070709,Deadpool,"Action,Adventure,Comedy",tt1431045
Star Wars Ep. VIII: The Last Jedi 2017,Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,303181382,NaN,"Action,Adventure,Fantasy",tt2527336
The Secret Life of Pets 2016,The Secret Life of Pets,2016-07-08,75000000,368384330,293384330,The Secret Life of Pets,"Adventure,Animation,Comedy",tt2709768
It 2017,It,2017-09-08,35000000,327481748,292481748,It,"Horror,Thriller",tt1396484
Finding Dory 2016,Finding Dory,2016-06-17,200000000,486295561,286295561,Finding Dory,"Adventure,Animation,Comedy",tt2277860
Wonder Woman 2017,Wonder Woman,2017-06-02,150000000,412563408,262563408,Wonder Woman,"Action,Adventure,Fantasy",tt0451279
Minions 2015,Minions,2015-07-10,74000000,336045770,262045770,Minions,"Adventure,Animation,Comedy",tt2293640
Captain Marvel 2019,Captain Marvel,2019-03-08,175000000,426525952,251525952,Captain Marvel,"Action,Adventure,Sci-Fi",tt4154664
Jurassic World: Fallen Kingdom 2018,Jurassic World: Fallen Kingdom,2018-06-22,170000000,417719760,247719760,Jurassic World: Fallen Kingdom,"Action,Adventure,Sci-Fi",tt4881806
Deadpool 2 2018,Deadpool 2,2018-05-18,110000000,324591735,214591735,Deadpool 2,"Action,Adventure,Comedy",tt5463162
Dr. Seussâ The Grinch 2018,Dr. Seussâ The Grinch,2018-11-09,75000000,270620950,195620950,NaN,"Animation,Comedy,Family",tt2709692
Sing 2016,Sing,2016-12-21,75000000,270329045,195329045,Sing,"Animation,Comedy,Family",tt3470600
Zootopia 2016,Zootopia,2016-03-04,150000000,341268248,191268248,Zootopia,"Adventure,Animation,Comedy",tt2948356
Guardians of the Galaxy Vol 2 2017,Guardians of the Galaxy Vol 2,2017-05-05,200000000,389813101,189813101,NaN,"Action,Adventure,Comedy",tt3896198
Despicable Me 3 2017,Despicable Me 3,2017-06-30,75000000,264624300,189624300,Despicable Me 3,"Adventure,Animation,Comedy",tt3469046
The Jungle Book 2016,The Jungle Book,2016-04-15,175000000,364001123,189001123,The Jungle Book,"Adventure,Drama,Family",tt3040964
Inside Out 2015,Inside Out,2015-06-19,175000000,356461711,181461711,Inside Out,"Adventure,Animation,Comedy",tt2096673
A Star is Born 2018,A Star is Born,2018-10-05,36000000,215288866,179288866,NaN,"Drama,Music,Romance",tt1517451
Aquaman 2018,Aquaman,2018-12-21,160000000,335061807,175061807,Aquaman,"Action,Adventure,Fantasy",tt1477834
Get Out 2017,Get Out,2017-02-24,5000000,176040665,171040665,Get Out,"Horror,Mystery,Thriller",tt5052448
A Quiet Place 2018,A Quiet Place,2018-04-06,17000000,188024361,171024361,A Quiet Place,"Drama,Horror,Sci-Fi",tt6644200
Furious 7 2015,Furious 7,2015-04-03,190000000,353007020,163007020,Furious 7,"Action,Crime,Thriller",tt2820852
Bohemian Rhapsody 2018,Bohemian Rhapsody,2018-11-02,55000000,216303339,161303339,Bohemian Rhapsody,"Biography,Drama,Music",tt1727824
Spider-Man: Homecoming 2017,Spider-Man: Homecoming,2017-07-07,175000000,334201140,159201140,Spider-Man: Homecoming,"Action,Adventure,Sci-Fi",tt2250912
Captain America: Civil War 2016,Captain America: Civil War,2016-05-06,250000000,408084349,158084349,Captain America: Civil War,"Action,Adventure,Sci-Fi",tt3498820
Pitch Perfect 2 2015,Pitch Perfect 2,2015-05-15,29000000,184296230,155296230,Pitch Perfect 2,"Comedy,Music",tt2848292
Us 2019,Us,2019-03-22,20000000,175006930,155006930,Us,"Horror,Mystery,Thriller",tt6857112
Suicide Squad 2016,Suicide Squad,2016-08-05,175000000,325100054,150100054,Suicide Squad,"Action,Adventure,Fantasy",tt1386697
Halloween 2018,Halloween,2018-10-19,10000000,159342015,149342015,Halloween,"Horror,Thriller",tt1502407
Hidden Figures 2016,Hidden Figures,2016-12-25,25000000,169607287,144607287,Hidden Figures,"Biography,Drama,History",tt4846340
Crazy Rich Asians 2018,Crazy Rich Asians,2018-08-15,30000000,174532921,144532921,Crazy Rich Asians,"Comedy,Romance",tt3104988
Thor: Ragnarok 2017,Thor: Ragnarok,2017-11-03,180000000,315058289,135058289,Thor: Ragnarok,"Action,Adventure,Comedy",tt3501632
Straight Outta Compton 2015,Straight Outta Compton,2015-08-14,28000000,161197785,133197785,Straight Outta Compton,"Biography,Drama,History",tt1398426
Split 2017,Split,2017-01-20,5000000,138141585,133141585,NaN,NaN,NaN
La La Land 2016,La La Land,2016-12-09,20000000,151101803,131101803,La La Land,"Comedy,Drama,Music",tt3783958
Avengers: Age of Ultron 2015,Avengers: Age of Ultron,2015-05-01,330600000,459005868,128405868,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",tt2395427
The Hunger Games: Mockingjay - Part 2 2015,The Hunger Games: Mockingjay - Part 2,2015-11-20,160000000,281723902,121723902,The Hunger Games: Mockingjay - Part 2,"Action,Adventure,Sci-Fi",tt1951266
The Martian 2015,The Martian,2015-10-02,108000000,228433663,120433663,The Martian,"Adventure,Drama,Sci-Fi",tt3659388
Wonder 2017,Wonder,2017-11-17,20000000,132422809,112422809,Wonder,"Drama,Family",tt2543472
Cinderella 2015,Cinderella,2015-03-13,95000000,201151353,106151353,Cinderella,"Drama,Family,Fantasy",tt1661199
Cinderella 2015,Cinderella,2015-03-13,95000000,201151353,106151353,Cinderella,Fantasy,tt5089556
Hotel Transylvania 3: Summer Vacation 2018,Hotel Transylvania 3: Summer Vacation,2018-07-13,65000000,167500092,102500092,Hotel Transylvania 3: Summer Vacation,"Adventure,Animation,Comedy",tt5220122

In [245]:
movies[['primary_genre','secondary_genre','tertiary_genre']] = movies.genres.str.split(',', expand=True)

In [246]:
movies.head(50)

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,titles_movie,genres,tconst,primary_genre,secondary_genre,tertiary_genre
Star Wars Ep. VII: The Force Awakens 2015,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,NaN,"Action,Adventure,Fantasy",tt2527338,Action,Adventure,Fantasy
Black Panther 2018,Black Panther,2018-02-16,200000000,700059566,500059566,Black Panther,"Action,Adventure,Sci-Fi",tt1825683,Action,Adventure,Sci-Fi
Jurassic World 2015,Jurassic World,2015-06-12,215000000,652270625,437270625,Jurassic World,"Action,Adventure,Sci-Fi",tt0369610,Action,Adventure,Sci-Fi
Incredibles 2 2018,Incredibles 2,2018-06-15,200000000,608581744,408581744,Incredibles 2,"Action,Adventure,Animation",tt3606756,Action,Adventure,Animation
Avengers: Infinity War 2018,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482,Avengers: Infinity War,"Action,Adventure,Sci-Fi",tt4154756,Action,Adventure,Sci-Fi
Beauty and the Beast 2017,Beauty and the Beast,2017-03-17,160000000,504014165,344014165,Beauty and the Beast,"Family,Fantasy,Musical",tt2771200,Family,Fantasy,Musical
Rogue One: A Star Wars Story 2016,Rogue One: A Star Wars Story,2016-12-16,200000000,532177324,332177324,Rogue One: A Star Wars Story,"Action,Adventure,Sci-Fi",tt3748528,Action,Adventure,Sci-Fi
Jumanji: Welcome to the Jungle 2017,Jumanji: Welcome to the Jungle,2017-12-20,90000000,404508916,314508916,Jumanji: Welcome to the Jungle,"Action,Adventure,Comedy",tt2283362,Action,Adventure,Comedy
Deadpool 2016,Deadpool,2016-02-12,58000000,363070709,305070709,Deadpool,"Action,Adventure,Comedy",tt1431045,Action,Adventure,Comedy
Star Wars Ep. VIII: The Last Jedi 2017,Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,303181382,NaN,"Action,Adventure,Fantasy",tt2527336,Action,Adventure,Fantasy
The Secret Life of Pets 2016,The Secret Life of Pets,2016-07-08,75000000,368384330,293384330,The Secret Life of Pets,"Adventure,Animation,Comedy",tt2709768,Adventure,Animation,Comedy
It 2017,It,2017-09-08,35000000,327481748,292481748,It,"Horror,Thriller",tt1396484,Horror,Thriller,None
Finding Dory 2016,Finding Dory,2016-06-17,200000000,486295561,286295561,Finding Dory,"Adventure,Animation,Comedy",tt2277860,Adventure,Animation,Comedy
Wonder Woman 2017,Wonder Woman,2017-06-02,150000000,412563408,262563408,Wonder Woman,"Action,Adventure,Fantasy",tt0451279,Action,Adventure,Fantasy
Minions 2015,Minions,2015-07-10,74000000,336045770,262045770,Minions,"Adventure,Animation,Comedy",tt2293640,Adventure,Animation,Comedy
Captain Marvel 2019,Captain Marvel,2019-03-08,175000000,426525952,251525952,Captain Marvel,"Action,Adventure,Sci-Fi",tt4154664,Action,Adventure,Sci-Fi
Jurassic World: Fallen Kingdom 2018,Jurassic World: Fallen Kingdom,2018-06-22,170000000,417719760,247719760,Jurassic World: Fallen Kingdom,"Action,Adventure,Sci-Fi",tt4881806,Action,Adventure,Sci-Fi
Deadpool 2 2018,Deadpool 2,2018-05-18,110000000,324591735,214591735,Deadpool 2,"Action,Adventure,Comedy",tt5463162,Action,Adventure,Comedy
Dr. Seussâ The Grinch 2018,Dr. Seussâ The Grinch,2018-11-09,75000000,270620950,195620950,NaN,"Animation,Comedy,Family",tt2709692,Animation,Comedy,Family
Sing 2016,Sing,2016-12-21,75000000,270329045,195329045,Sing,"Animation,Comedy,Family",tt3470600,Animation,Comedy,Family
Zootopia 2016,Zootopia,2016-03-04,150000000,341268248,191268248,Zootopia,"Adventure,Animation,Comedy",tt2948356,Adventure,Animation,Comedy
Guardians of the Galaxy Vol 2 2017,Guardians of the Galaxy Vol 2,2017-05-05,200000000,389813101,189813101,NaN,"Action,Adventure,Comedy",tt3896198,Action,Adventure,Comedy
Despicable Me 3 2017,Despicable Me 3,2017-06-30,75000000,264624300,189624300,Despicable Me 3,"Adventure,Animation,Comedy",tt3469046,Adventure,Animation,Comedy
The Jungle Book 2016,The Jungle Book,2016-04-15,175000000,364001123,189001123,The Jungle Book,"Adventure,Drama,Family",tt3040964,Adventure,Drama,Family
Inside Out 2015,Inside Out,2015-06-19,175000000,356461711,181461711,Inside Out,"Adventure,Animation,Comedy",tt2096673,Adventure,Animation,Comedy
A Star is Born 2018,A Star is Born,2018-10-05,36000000,215288866,179288866,NaN,"Drama,Music,Romance",tt1517451,Drama,Music,Romance
Aquaman 2018,Aquaman,2018-12-21,160000000,335061807,175061807,Aquaman,"Action,Adventure,Fantasy",tt1477834,Action,Adventure,Fantasy
Get Out 2017,Get Out,2017-02-24,5000000,176040665,171040665,Get Out,"Horror,Mystery,Thriller",tt5052448,Horror,Mystery,Thriller
A Quiet Place 2018,A Quiet Place,2018-04-06,17000000,188024361,171024361,A Quiet Place,"Drama,Horror,Sci-Fi",tt6644200,Drama,Horror,Sci-Fi
Furious 7 2015,Furious 7,2015-04-03,190000000,353007020,163007020,Furious 7,"Action,Crime,Thriller",tt2820852,Action,Crime,Thriller
Bohemian Rhapsody 2018,Bohemian Rhapsody,2018-11-02,55000000,216303339,161303339,Bohemian Rhapsody,"Biography,Drama,Music",tt1727824,Biography,Drama,Music
Spider-Man: Homecoming 2017,Spider-Man: Homecoming,2017-07-07,175000000,334201140,159201140,Spider-Man: Homecoming,"Action,Adventure,Sci-Fi",tt2250912,Action,Adventure,Sci-Fi
Captain America: Civil War 2016,Captain America: Civil War,2016-05-06,250000000,408084349,158084349,Captain America: Civil War,"Action,Adventure,Sci-Fi",tt3498820,Action,Adventure,Sci-Fi
Pitch Perfect 2 2015,Pitch Perfect 2,2015-05-15,29000000,184296230,155296230,Pitch Perfect 2,"Comedy,Music",tt2848292,Comedy,Music,None
Us 2019,Us,2019-03-22,20000000,175006930,155006930,Us,"Horror,Mystery,Thriller",tt6857112,Horror,Mystery,Thriller
Suicide Squad 2016,Suicide Squad,2016-08-05,175000000,325100054,150100054,Suicide Squad,"Action,Adventure,Fantasy",tt1386697,Action,Adventure,Fantasy
Halloween 2018,Halloween,2018-10-19,10000000,159342015,149342015,Halloween,"Horror,Thriller",tt1502407,Horror,Thriller,None
Hidden Figures 2016,Hidden Figures,2016-12-25,25000000,169607287,144607287,Hidden Figures,"Biography,Drama,History",tt4846340,Biography,Drama,History
Crazy Rich Asians 2018,Crazy Rich Asians,2018-08-15,30000000,174532921,144532921,Crazy Rich Asians,"Comedy,Romance",tt3104988,Comedy,Romance,None
Thor: Ragnarok 2017,Thor: Ragnarok,2017-11-03,180000000,315058289,135058289,Thor: Ragnarok,"Action,Adventure,Comedy",tt3501632,Action,Adventure,Comedy
Straight Outta Compton 2015,Straight Outta Compton,2015-08-14,28000000,161197785,133197785,Straight Outta Compton,"Biography,Drama,History",tt1398426,Biography,Drama,History
Split 2017,Split,2017-01-20,5000000,138141585,133141585,NaN,NaN,NaN,NaN,NaN,NaN
La La Land 2016,La La Land,2016-12-09,20000000,151101803,131101803,La La Land,"Comedy,Drama,Music",tt3783958,Comedy,Drama,Music
Avengers: Age of Ultron 2015,Avengers: Age of Ultron,2015-05-01,330600000,459005868,128405868,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",tt2395427,Action,Adventure,Sci-Fi
The Hunger Games: Mockingjay - Part 2 2015,The Hunger Games: Mockingjay - Part 2,2015-11-20,160000000,281723902,121723902,The Hunger Games: Mockingjay - Part 2,"Action,Adventure,Sci-Fi",tt1951266,Action,Adventure,Sci-Fi
The Martian 2015,The Martian,2015-10-02,108000000,228433663,120433663,The Martian,"Adventure,Drama,Sci-Fi",tt3659388,Adventure,Drama,Sci-Fi
Wonder 2017,Wonder,2017-11-17,20000000,132422809,112422809,Wonder,"Drama,Family",tt2543472,Drama,Family,None
Cinderella 2015,Cinderella,2015-03-13,95000000,201151353,106151353,Cinderella,"Drama,Family,Fantasy",tt1661199,Drama,Family,Fantasy
Cinderella 2015,Cinderella,2015-03-13,95000000,201151353,106151353,Cinderella,Fantasy,tt5089556,Fantasy,None,None
Hotel Transylvania 3: Summer Vacation 2018,Hotel Transylvania 3: Summer Vacation,2018-07-13,65000000,167500092,102500092,Hotel Transylvania 3: Summer Vacation,"Adventure,Animation,Comedy",tt5220122,Adventure,Animation,Comedy

In [247]:
movies = movies.dropna(subset=['genres']) #!!!
movies.head(50)

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,titles_movie,genres,tconst,primary_genre,secondary_genre,tertiary_genre
Star Wars Ep. VII: The Force Awakens 2015,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,NaN,"Action,Adventure,Fantasy",tt2527338,Action,Adventure,Fantasy
Black Panther 2018,Black Panther,2018-02-16,200000000,700059566,500059566,Black Panther,"Action,Adventure,Sci-Fi",tt1825683,Action,Adventure,Sci-Fi
Jurassic World 2015,Jurassic World,2015-06-12,215000000,652270625,437270625,Jurassic World,"Action,Adventure,Sci-Fi",tt0369610,Action,Adventure,Sci-Fi
Incredibles 2 2018,Incredibles 2,2018-06-15,200000000,608581744,408581744,Incredibles 2,"Action,Adventure,Animation",tt3606756,Action,Adventure,Animation
Avengers: Infinity War 2018,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482,Avengers: Infinity War,"Action,Adventure,Sci-Fi",tt4154756,Action,Adventure,Sci-Fi
Beauty and the Beast 2017,Beauty and the Beast,2017-03-17,160000000,504014165,344014165,Beauty and the Beast,"Family,Fantasy,Musical",tt2771200,Family,Fantasy,Musical
Rogue One: A Star Wars Story 2016,Rogue One: A Star Wars Story,2016-12-16,200000000,532177324,332177324,Rogue One: A Star Wars Story,"Action,Adventure,Sci-Fi",tt3748528,Action,Adventure,Sci-Fi
Jumanji: Welcome to the Jungle 2017,Jumanji: Welcome to the Jungle,2017-12-20,90000000,404508916,314508916,Jumanji: Welcome to the Jungle,"Action,Adventure,Comedy",tt2283362,Action,Adventure,Comedy
Deadpool 2016,Deadpool,2016-02-12,58000000,363070709,305070709,Deadpool,"Action,Adventure,Comedy",tt1431045,Action,Adventure,Comedy
Star Wars Ep. VIII: The Last Jedi 2017,Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,303181382,NaN,"Action,Adventure,Fantasy",tt2527336,Action,Adventure,Fantasy
The Secret Life of Pets 2016,The Secret Life of Pets,2016-07-08,75000000,368384330,293384330,The Secret Life of Pets,"Adventure,Animation,Comedy",tt2709768,Adventure,Animation,Comedy
It 2017,It,2017-09-08,35000000,327481748,292481748,It,"Horror,Thriller",tt1396484,Horror,Thriller,None
Finding Dory 2016,Finding Dory,2016-06-17,200000000,486295561,286295561,Finding Dory,"Adventure,Animation,Comedy",tt2277860,Adventure,Animation,Comedy
Wonder Woman 2017,Wonder Woman,2017-06-02,150000000,412563408,262563408,Wonder Woman,"Action,Adventure,Fantasy",tt0451279,Action,Adventure,Fantasy
Minions 2015,Minions,2015-07-10,74000000,336045770,262045770,Minions,"Adventure,Animation,Comedy",tt2293640,Adventure,Animation,Comedy
Captain Marvel 2019,Captain Marvel,2019-03-08,175000000,426525952,251525952,Captain Marvel,"Action,Adventure,Sci-Fi",tt4154664,Action,Adventure,Sci-Fi
Jurassic World: Fallen Kingdom 2018,Jurassic World: Fallen Kingdom,2018-06-22,170000000,417719760,247719760,Jurassic World: Fallen Kingdom,"Action,Adventure,Sci-Fi",tt4881806,Action,Adventure,Sci-Fi
Deadpool 2 2018,Deadpool 2,2018-05-18,110000000,324591735,214591735,Deadpool 2,"Action,Adventure,Comedy",tt5463162,Action,Adventure,Comedy
Dr. Seussâ The Grinch 2018,Dr. Seussâ The Grinch,2018-11-09,75000000,270620950,195620950,NaN,"Animation,Comedy,Family",tt2709692,Animation,Comedy,Family
Sing 2016,Sing,2016-12-21,75000000,270329045,195329045,Sing,"Animation,Comedy,Family",tt3470600,Animation,Comedy,Family
Zootopia 2016,Zootopia,2016-03-04,150000000,341268248,191268248,Zootopia,"Adventure,Animation,Comedy",tt2948356,Adventure,Animation,Comedy
Guardians of the Galaxy Vol 2 2017,Guardians of the Galaxy Vol 2,2017-05-05,200000000,389813101,189813101,NaN,"Action,Adventure,Comedy",tt3896198,Action,Adventure,Comedy
Despicable Me 3 2017,Despicable Me 3,2017-06-30,75000000,264624300,189624300,Despicable Me 3,"Adventure,Animation,Comedy",tt3469046,Adventure,Animation,Comedy
The Jungle Book 2016,The Jungle Book,2016-04-15,175000000,364001123,189001123,The Jungle Book,"Adventure,Drama,Family",tt3040964,Adventure,Drama,Family
Inside Out 2015,Inside Out,2015-06-19,175000000,356461711,181461711,Inside Out,"Adventure,Animation,Comedy",tt2096673,Adventure,Animation,Comedy
A Star is Born 2018,A Star is Born,2018-10-05,36000000,215288866,179288866,NaN,"Drama,Music,Romance",tt1517451,Drama,Music,Romance
Aquaman 2018,Aquaman,2018-12-21,160000000,335061807,175061807,Aquaman,"Action,Adventure,Fantasy",tt1477834,Action,Adventure,Fantasy
Get Out 2017,Get Out,2017-02-24,5000000,176040665,171040665,Get Out,"Horror,Mystery,Thriller",tt5052448,Horror,Mystery,Thriller
A Quiet Place 2018,A Quiet Place,2018-04-06,17000000,188024361,171024361,A Quiet Place,"Drama,Horror,Sci-Fi",tt6644200,Drama,Horror,Sci-Fi
Furious 7 2015,Furious 7,2015-04-03,190000000,353007020,163007020,Furious 7,"Action,Crime,Thriller",tt2820852,Action,Crime,Thriller
Bohemian Rhapsody 2018,Bohemian Rhapsody,2018-11-02,55000000,216303339,161303339,Bohemian Rhapsody,"Biography,Drama,Music",tt1727824,Biography,Drama,Music
Spider-Man: Homecoming 2017,Spider-Man: Homecoming,2017-07-07,175000000,334201140,159201140,Spider-Man: Homecoming,"Action,Adventure,Sci-Fi",tt2250912,Action,Adventure,Sci-Fi
Captain America: Civil War 2016,Captain America: Civil War,2016-05-06,250000000,408084349,158084349,Captain America: Civil War,"Action,Adventure,Sci-Fi",tt3498820,Action,Adventure,Sci-Fi
Pitch Perfect 2 2015,Pitch Perfect 2,2015-05-15,29000000,184296230,155296230,Pitch Perfect 2,"Comedy,Music",tt2848292,Comedy,Music,None
Us 2019,Us,2019-03-22,20000000,175006930,155006930,Us,"Horror,Mystery,Thriller",tt6857112,Horror,Mystery,Thriller
Suicide Squad 2016,Suicide Squad,2016-08-05,175000000,325100054,150100054,Suicide Squad,"Action,Adventure,Fantasy",tt1386697,Action,Adventure,Fantasy
Halloween 2018,Halloween,2018-10-19,10000000,159342015,149342015,Halloween,"Horror,Thriller",tt1502407,Horror,Thriller,None
Hidden Figures 2016,Hidden Figures,2016-12-25,25000000,169607287,144607287,Hidden Figures,"Biography,Drama,History",tt4846340,Biography,Drama,History
Crazy Rich Asians 2018,Crazy Rich Asians,2018-08-15,30000000,174532921,144532921,Crazy Rich Asians,"Comedy,Romance",tt3104988,Comedy,Romance,None
Thor: Ragnarok 2017,Thor: Ragnarok,2017-11-03,180000000,315058289,135058289,Thor: Ragnarok,"Action,Adventure,Comedy",tt3501632,Action,Adventure,Comedy
Straight Outta Compton 2015,Straight Outta Compton,2015-08-14,28000000,161197785,133197785,Straight Outta Compton,"Biography,Drama,History",tt1398426,Biography,Drama,History
La La Land 2016,La La Land,2016-12-09,20000000,151101803,131101803,La La Land,"Comedy,Drama,Music",tt3783958,Comedy,Drama,Music
Avengers: Age of Ultron 2015,Avengers: Age of Ultron,2015-05-01,330600000,459005868,128405868,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",tt2395427,Action,Adventure,Sci-Fi
The Hunger Games: Mockingjay - Part 2 2015,The Hunger Games: Mockingjay - Part 2,2015-11-20,160000000,281723902,121723902,The Hunger Games: Mockingjay - Part 2,"Action,Adventure,Sci-Fi",tt1951266,Action,Adventure,Sci-Fi
The Martian 2015,The Martian,2015-10-02,108000000,228433663,120433663,The Martian,"Adventure,Drama,Sci-Fi",tt3659388,Adventure,Drama,Sci-Fi
Wonder 2017,Wonder,2017-11-17,20000000,132422809,112422809,Wonder,"Drama,Family",tt2543472,Drama,Family,None
Cinderella 2015,Cinderella,2015-03-13,95000000,201151353,106151353,Cinderella,"Drama,Family,Fantasy",tt1661199,Drama,Family,Fantasy
Cinderella 2015,Cinderella,2015-03-13,95000000,201151353,106151353,Cinderella,Fantasy,tt5089556,Fantasy,None,None
Hotel Transylvania 3: Summer Vacation 2018,Hotel Transylvania 3: Summer Vacation,2018-07-13,65000000,167500092,102500092,Hotel Transylvania 3: Summer Vacation,"Adventure,Animation,Comedy",tt5220122,Adventure,Animation,Comedy
Logan 2017,Logan,2017-03-03,127000000,226277068,99277068,Logan,"Action,Drama,Sci-Fi",tt3315342,Action,Drama,Sci-Fi

In [248]:
movies = movies.drop(['titles_movie','genres'], axis=1)
movies.head(50)

,budgets_movie,release_date,production_budget,domestic_gross,domestic_profit,tconst,primary_genre,secondary_genre,tertiary_genre
Star Wars Ep. VII: The Force Awakens 2015,Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,630662225,tt2527338,Action,Adventure,Fantasy
Black Panther 2018,Black Panther,2018-02-16,200000000,700059566,500059566,tt1825683,Action,Adventure,Sci-Fi
Jurassic World 2015,Jurassic World,2015-06-12,215000000,652270625,437270625,tt0369610,Action,Adventure,Sci-Fi
Incredibles 2 2018,Incredibles 2,2018-06-15,200000000,608581744,408581744,tt3606756,Action,Adventure,Animation
Avengers: Infinity War 2018,Avengers: Infinity War,2018-04-27,300000000,678815482,378815482,tt4154756,Action,Adventure,Sci-Fi
Beauty and the Beast 2017,Beauty and the Beast,2017-03-17,160000000,504014165,344014165,tt2771200,Family,Fantasy,Musical
Rogue One: A Star Wars Story 2016,Rogue One: A Star Wars Story,2016-12-16,200000000,532177324,332177324,tt3748528,Action,Adventure,Sci-Fi
Jumanji: Welcome to the Jungle 2017,Jumanji: Welcome to the Jungle,2017-12-20,90000000,404508916,314508916,tt2283362,Action,Adventure,Comedy
Deadpool 2016,Deadpool,2016-02-12,58000000,363070709,305070709,tt1431045,Action,Adventure,Comedy
Star Wars Ep. VIII: The Last Jedi 2017,Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,303181382,tt2527336,Action,Adventure,Fantasy
The Secret Life of Pets 2016,The Secret Life of Pets,2016-07-08,75000000,368384330,293384330,tt2709768,Adventure,Animation,Comedy
It 2017,It,2017-09-08,35000000,327481748,292481748,tt1396484,Horror,Thriller,None
Finding Dory 2016,Finding Dory,2016-06-17,200000000,486295561,286295561,tt2277860,Adventure,Animation,Comedy
Wonder Woman 2017,Wonder Woman,2017-06-02,150000000,412563408,262563408,tt0451279,Action,Adventure,Fantasy
Minions 2015,Minions,2015-07-10,74000000,336045770,262045770,tt2293640,Adventure,Animation,Comedy
Captain Marvel 2019,Captain Marvel,2019-03-08,175000000,426525952,251525952,tt4154664,Action,Adventure,Sci-Fi
Jurassic World: Fallen Kingdom 2018,Jurassic World: Fallen Kingdom,2018-06-22,170000000,417719760,247719760,tt4881806,Action,Adventure,Sci-Fi
Deadpool 2 2018,Deadpool 2,2018-05-18,110000000,324591735,214591735,tt5463162,Action,Adventure,Comedy
Dr. Seussâ The Grinch 2018,Dr. Seussâ The Grinch,2018-11-09,75000000,270620950,195620950,tt2709692,Animation,Comedy,Family
Sing 2016,Sing,2016-12-21,75000000,270329045,195329045,tt3470600,Animation,Comedy,Family
Zootopia 2016,Zootopia,2016-03-04,150000000,341268248,191268248,tt2948356,Adventure,Animation,Comedy
Guardians of the Galaxy Vol 2 2017,Guardians of the Galaxy Vol 2,2017-05-05,200000000,389813101,189813101,tt3896198,Action,Adventure,Comedy
Despicable Me 3 2017,Despicable Me 3,2017-06-30,75000000,264624300,189624300,tt3469046,Adventure,Animation,Comedy
The Jungle Book 2016,The Jungle Book,2016-04-15,175000000,364001123,189001123,tt3040964,Adventure,Drama,Family
Inside Out 2015,Inside Out,2015-06-19,175000000,356461711,181461711,tt2096673,Adventure,Animation,Comedy
A Star is Born 2018,A Star is Born,2018-10-05,36000000,215288866,179288866,tt1517451,Drama,Music,Romance
Aquaman 2018,Aquaman,2018-12-21,160000000,335061807,175061807,tt1477834,Action,Adventure,Fantasy
Get Out 2017,Get Out,2017-02-24,5000000,176040665,171040665,tt5052448,Horror,Mystery,Thriller
A Quiet Place 2018,A Quiet Place,2018-04-06,17000000,188024361,171024361,tt6644200,Drama,Horror,Sci-Fi
Furious 7 2015,Furious 7,2015-04-03,190000000,353007020,163007020,tt2820852,Action,Crime,Thriller
Bohemian Rhapsody 2018,Bohemian Rhapsody,2018-11-02,55000000,216303339,161303339,tt1727824,Biography,Drama,Music
Spider-Man: Homecoming 2017,Spider-Man: Homecoming,2017-07-07,175000000,334201140,159201140,tt2250912,Action,Adventure,Sci-Fi
Captain America: Civil War 2016,Captain America: Civil War,2016-05-06,250000000,408084349,158084349,tt3498820,Action,Adventure,Sci-Fi
Pitch Perfect 2 2015,Pitch Perfect 2,2015-05-15,29000000,184296230,155296230,tt2848292,Comedy,Music,None
Us 2019,Us,2019-03-22,20000000,175006930,155006930,tt6857112,Horror,Mystery,Thriller
Suicide Squad 2016,Suicide Squad,2016-08-05,175000000,325100054,150100054,tt1386697,Action,Adventure,Fantasy
Halloween 2018,Halloween,2018-10-19,10000000,159342015,149342015,tt1502407,Horror,Thriller,None
Hidden Figures 2016,Hidden Figures,2016-12-25,25000000,169607287,144607287,tt4846340,Biography,Drama,History
Crazy Rich Asians 2018,Crazy Rich Asians,2018-08-15,30000000,174532921,144532921,tt3104988,Comedy,Romance,None
Thor: Ragnarok 2017,Thor: Ragnarok,2017-11-03,180000000,315058289,135058289,tt3501632,Action,Adventure,Comedy
Straight Outta Compton 2015,Straight Outta Compton,2015-08-14,28000000,161197785,133197785,tt1398426,Biography,Drama,History
La La Land 2016,La La Land,2016-12-09,20000000,151101803,131101803,tt3783958,Comedy,Drama,Music
Avengers: Age of Ultron 2015,Avengers: Age of Ultron,2015-05-01,330600000,459005868,128405868,tt2395427,Action,Adventure,Sci-Fi
The Hunger Games: Mockingjay - Part 2 2015,The Hunger Games: Mockingjay - Part 2,2015-11-20,160000000,281723902,121723902,tt1951266,Action,Adventure,Sci-Fi
The Martian 2015,The Martian,2015-10-02,108000000,228433663,120433663,tt3659388,Adventure,Drama,Sci-Fi
Wonder 2017,Wonder,2017-11-17,20000000,132422809,112422809,tt2543472,Drama,Family,None
Cinderella 2015,Cinderella,2015-03-13,95000000,201151353,106151353,tt1661199,Drama,Family,Fantasy
Cinderella 2015,Cinderella,2015-03-13,95000000,201151353,106151353,tt5089556,Fantasy,None,None
Hotel Transylvania 3: Summer Vacation 2018,Hotel Transylvania 3: Summer Vacation,2018-07-13,65000000,167500092,102500092,tt5220122,Adventure,Animation,Comedy
Logan 2017,Logan,2017-03-03,127000000,226277068,99277068,tt3315342,Action,Drama,Sci-Fi

In [249]:
movies.to_csv('titlesbudgetsgenres')